{% extends 'includes/layout.html' %}
{% block body %}
<div class="container">
	<img id="about-header" src="/static/img/site/about/about.png"/>

	<div id="about-wrapper">

		<div class="about-container about-container-left" id="about-zie">
			<img class="about-portrait" src="/static/img/site/about/portraits/zie.png">

			<div class="about-text">
				Zie Groenen<br>
				Hello, I am the creator of this interactive comic.
				I have made this website as my graduation project for the art school ArtEZ in Zwolle, The Netherlands.
				It is an experiment of how comics can go beyond the usual book format (Which I love as well.) and be interactive with the reader.
				With this comic I wanted to visualise the actual difference in perspective people have.
				You will be able to read multiple storylines with different choices you can make!
				All stories are connected in their end.
				I am a fan of mixed media and I have utilized a range of materials to show this difference.
				I hope you like it! And am always interested to hear your opinion! You can share this in our Reddit.
				Or you can contact me through these options:
				<br>
				<br>
				<br>
			</div>

			<div class="about-icons">
				<a href="mailto:zitizie@hotmail.com"><img src="/static/img/site/about/icons/zie-email.png"></a>
				<a href="https://instagram.com/zieeeej"><img src="/static/img/site/about/icons/zie-instagram.png"></a>
				<a href="https://zieeeej.tumblr.com"><img src="/static/img/site/about/icons/zie-tumblr.png"></a>
				<a href="https://twitter.com/ZieeeeJ"><img src="/static/img/site/about/icons/zie-twitter.png"></a>
				<a href="https://open.spotify.com/user/zieeeej/playlist/4rJwyZWQ0u5Ip5Bcq6Tz74?si=TUeR-m2LSEuuuuyj41bwNA"><img src="/static/img/site/about/icons/zie-spotify.png"></a>
			</div>
		</div>

		<div class="about-container about-container-right" id="about-daria">
			<img class="about-portrait" src="/static/img/site/about/portraits/daria.png">
			<div class="about-text">
			Daria<br>
			Hi there. I am Daria. I am 23 years old.
			I have graduated from college a year and a half ago but still don’t exactly know what I want to do.
			Therefore I work at a warehouse for a drugstore.
			Which is fine for now actually, they have a nicely routined schedule and the pay isn’t bad.
			My housemate and best friend, Lisa always tells me I need to get out more and play less Sims.
			I also like cats and turtles. They are so cute. My parents have two cats, whom I love very much.
			One of them is very grumpy and is called Herbert.
			So fitting, haha! The other one is a bad boy, named Phil.
			I would love to tell you more about them and introduce them to you but unfortunately for you they don’t like strangers... ☹<br>
			Bye-bye!
			</div>
			<div class="about-icons">
				<a href="https://open.spotify.com/user/zieeeej/playlist/11FDfrTf6hSC0Tvi79LS4m?si=dsbVxKXKQTuPdUDroNe85A "><img src="/static/img/site/about/icons/daria-spotify.png"></a>
			</div>
		</div>

		<div class="about-container about-container-right" id="about-clarice">
			<img class="about-portrait" src="/static/img/site/about/portraits/clarice.png">
			<div class="about-text">
				Hey everyone!<br>
				My name is Clarice and have been on this planet for 21 years already.
				At the moment I am a student who loves to party and hang out with friends.
				I am single but ready to mingle, hihi just kidding.
				I have my own room with three lovely housemates.
				We share the livingroom and the kitchen.
				We also like to have laugh. If I like you, you are welcome to come eat and/or drink with us.
				People often tell me I am colourful and bright so you better watch out, because I just might outshine you!
				But if you see me anywhere, don’t be shy and say hi!
				Have fun reading our stories!<br><br><br><br>
			</div>
			<div class="about-icons">
				<a href="https://open.spotify.com/user/zieeeej/playlist/6R5BcKeEJKTJyob86m5TQu?si=JDm0vgT5TV6nfEmkXAMGyg "><img src="/static/img/site/about/icons/clarice-spotify.png"></a>
			</div>
		</div>

		<div class="about-container about-container-left" id="about-marijn">
			<img class="about-portrait" src="/static/img/site/about/portraits/marijn.png">
			<div class="about-text">
				Hi, I’m the builder of this site.
				During the day I´m a programmer for a company that makes financial software but at night I´ll wear spandex, don a cape and work on webcomics.
				I met Zie on a festival last year and when I heard about this project it seemed fun and like a welcome break from my day-to-day.
				Comics aren’t my preferred form of entertainment but I enjoy art in general so having the opportunity to work on something like this has been great.
				If you want to contact me, you can find my details down below, also feel free to share this site (:
				<br><br><br><br><br>
			</div>
			<div class="about-icons">
				<a href=""><img src="/static/img/site/about/icons/marijn-spotify.png"></a>
				<a href=""><img src="/static/img/site/about/icons/marijn-github.png"></a>
				<a href=""><img src="/static/img/site/about/icons/marijn-linkedin.png"></a>
			</div>
		</div>

		<div class="about-container about-container-right" id="about-mateusz">
			<img class="about-portrait" src="/static/img/site/about/portraits/mateusz.png">
			<div class="about-text">
				Ohai! Mateusz is the name, nice to meet you!
				I like to meet new people but strangely enough it doesn’t always work out as I’d like.
				However the internet is a great place to properly show who I really am. So who am I?
				Great question, thanks for that!
				I am 22 years of age, am fond of cult movies, physic and science experiments.
				My friend Joël built a lab in his parents garage where you can often find me and my other friend, Michael.
				We all met at highschool and have advanced to a college for physics, which is a lot of fun!
				We also like to play board games, the fun never stops! Well it kinda does, I guess.
				They aren’t always very social but I do like to meet new people. So again nice to meet you!
				And goodbye for now?<br><br>
			</div>
			<div class="about-icons">
				<a href="https://open.spotify.com/user/zieeeej/playlist/7aknvs4QbFik9WXEtCLrSa?si=kL2p3-YbR82A_J7CB8wb7w ">
					<img src="/static/img/site/about/icons/mateusz-spotify.png">
				</a>
			</div>
		</div>

		<div class="about-container" id="about-copyright">
			<div class="about-text">
				Copyright: <br>
				We have used the Chewed Pen from Blambot Comic Fonts <br>
				<a href="www.blambot.com">www.blambot.com</a> <br>
				C/o Nate Piekos <br>
				PO Box 604 <br>
				Wakefield, RI 02880 USA
			</div>
		</div>

	</div>
</div>
{% endblock %}