<!doctype html>
<html lang="en">
    <head>
        <title>Enlightning</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/vendor/bootstrap.min.css">
    </head>

    <body>
        <div id="home-container" class="container">
            <nav id="home-navigation">
                <div id="home-navigation-container">
                    <div id="header-container">
                        <div id="header-text"></div>
                        <a href="/start"><div id="header-img"></div></a>
                    </div>
                    <div class="home-navigation-buttons">
                        <a id="nav-home" href="/start"></a>
                        <a id="nav-discuss" href="https://www.reddit.com/r/Enlightning/"></a>
                        <a id="nav-about" href="/about"></a>
                    </div>
                </div>
            </nav>

            <script src="/static/vendor/jquery-3.2.1.slim.min.js"></script>
            <script src="/static/vendor/popper.min.js"></script>
            <script src="/static/vendor/bootstrap.min.js"></script>
            <script src="/static/vendor/createjs-2015.11.26.min.js"></script>
        </div>
    </body>
</html>
